name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 9 * * *'
jobs:
  test:
    timeout-minutes: 60
    strategy:
      matrix:
        include:
          - java: 8
          - java: 25
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-java@v5
      with:
        java-version: ${{matrix.java}}
        distribution: adopt
    - uses: actions/checkout@v6
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - shell: bash
      run: sbt -v "+ test"
